{% extends "base.html" %}
{% load static from staticfiles %}


{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    INDEX PAGE
    <small>Version 0.1</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard1</li>
  </ol>
</section>

<h1>New post</h1>
<form method="POST" class="classform" name="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Save</button>
</form>
<div id="success">

</div>
<div id="error">

</div>

{% endblock %}
{% block postscript %}
<script src="{% static "webapp/dist/js/ajax.js" %}" type="text/javascript"></script>


{% endblock %}
