{% extends "base.html" %}
{% load utilities_tags %}
{% load static from staticfiles %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Reddit gRabber
    <small>Version 0.1</small>
  </h1>

</section>

<!-- Main content -->
<section class="content">

            <!-- Info boxes -->
           <div class="row">
           <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box bg-purple">
               <span class="info-box-icon"><i class="fa fa-hand-o-right"></i></span>
               <div class="info-box-content">
                 <span class="info-box-text">User Limit</span>
                 <span class="info-box-number"> </span>
                 <div class="progress">
                   <div class="progress-bar" style="width: 0%"></div>
                 </div>
                 <span class="progress-description">
                   * users are IP Clients
                 </span>
               </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
           </div><!-- /.col -->
           <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box bg-purple">
               <span class="info-box-icon"><i class="fa fa-hand-o-down"></i></span>
               <div class="info-box-content">
                 <span class="info-box-text">User Remaining</span>
                 <span class="info-box-number"> </span>
                 <div class="progress">
                   <div class="progress-bar" style="width: 0%"></div>
                 </div>
                 <span class="progress-description">
                   * users are IP Clients
                 </span>
               </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
           </div><!-- /.col -->
           <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box bg-orange">
               <span class="info-box-icon"><i class="fa fa-hand-o-right"></i></span>
               <div class="info-box-content">
                 <span class="info-box-text">Client Limit</span>
                 <span class="info-box-number"></span>
                 <div class="progress">
                   <div class="progress-bar" style="width: 0%"></div>
                 </div>
                 <span class="progress-description">
                   * API calls / 24Hrs
                 </span>
               </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
           </div><!-- /.col -->
           <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box bg-orange">
               <span class="info-box-icon"><i class="fa fa-hand-o-down"></i></span>
               <div class="info-box-content">
                 <span class="info-box-text">Client Remaining</span>
                 <span class="info-box-number"></span>
                 <div class="progress">
                   <div class="progress-bar" style="width: 0%"></div>
                 </div>
                 <span class="progress-description">
                   * API calls / 24Hrs
                 </span>
               </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
           </div><!-- /.col -->
           </div><!-- /.row -->


           <div class="row">
           <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Section:  </h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                  <table id="images_table" class="table table-bordered table-hover" width="100%">
                    <thead>
                      <tr>
                        <th>Thumbnail</th>
                        <th>Stats</th>
                        <th>Post Title </th>
                        <th>Ups</th>



                      </tr>
                    </thead>
                    <tbody>
                    {% for submission in submissions %}

                        <tr>
                            <form method="POST" id="post_form_{{ submission.id }}">{% csrf_token %}
                                        <td><img src='{{ submission.url }}' width="250"></td>
                                        <td>Post Type: <b>REDDIT</b>
                                            Direct Link: <a href="{{ submission.url }}">{{ item.url}}</a><br/>
                                            Reddit Link: {{ submission.short_link }}<br/>
                                            <button type="submit" class="btn btn-primary" value="POST">Save</button>
                                        </td>

                                        <td><b>Title:</b>{{  submission.title }} <br />
                                            ImageID<input id="image_id" maxlength="50" name="image_id" type="text" value="{{ submission.id }}"></input><br />
                                            Description<input type="text" name="description" maxlength="10000" size="20" id="description" value="{{ submission.title }}"></input><br />
                                            URL<input type="text" name="url" maxlength="100" size="35" id="url" value="{{ submission.url }}"></input><br />
                                            {# Size: {{ item.size|bytes_to_megabytes }} Mb#}
                                            <ul id="response_post_form_{{ submission.id }}" class="list-unstyled">
                                            </ul>
                                        </td>
                                        <td>{{ submission.ups }}</td>
                            </form>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Thumbnail</th>
                        <th>Stats</th>
                        <th>Views</th>
                        <th>Ups</th>



                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
          </div><!-- /.col -->
          </div><!-- /.row -->


</section><!-- /.content -->
{% endblock %}

{% block postscript %}
<!-- responsive extension css -->
<link href="{% static "webapp/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" %}" rel="stylesheet" type="text/css" />
<!-- responsive extension js -->
<script src="{% static "webapp/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js" %}" type="text/javascript"></script>
<script src="{% static "webapp/dist/js/ajax.js" %}" type="text/javascript"></script>


    <script type="text/javascript">
      $(function () {
        // $("#accounts_table").DataTable();
        $('#images_table').DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
        //
        // $('#form_post').on('submit', function(event){
        //     event.preventDefault();
        //     console.log("form submitted!")  // sanity check
        //     create_post();
        // });



      });
    </script>
{% endblock %}
